<!DOCTYPE html>
<html>
    <body>
        <form action="" method="POST">
            <input type="text" name="username" placeholder="Username" value="{{ (user and user.username) or "" }}"/>
            {% if not user %}
                <input type="password" name="password" placeholder="Password"/>
            {% endif %}
            <input type="checkbox" name="full_rights" {% if user and user.full_rights %}checked="checked"{% endif %}/>

            <input type="submit" value="Save">
        </form>
    </body>
</html>